
:root {
  --amplify-primary-color: #000000;
  --amplify-primary-tint: #000000;
  --amplify-primary-shade: #000000;
  --amplify-background-color: #ffffff;
}


body {
  background: url('https://luxorsurveyapp-storage-48413d43211922-luxordev.s3.amazonaws.com/public/background-luxor.png') center fixed;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}