/* 
  
  .modal-header {
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  .modal-title {
    font-size: 18px;
  }
  
  .modal-body {
    text-align: center;
    padding: 20px;
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  
  





    .submit-button {
      background-color: rgb(255, 0, 0);
      color: white;
      border: none;
      border-radius: 8px;
      padding: 9px 20px;
      width: 100%;
      text-align: center; 
      font-size: 11px;
    }


    .submit-button-container {
      width: 40%;
      float: right;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    
    .submit-button:hover {
      background-color: rgba(197, 12, 12, 0.8);
      cursor: pointer;
    }
    
     */






  
     .modal-content {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 70%;
      height: 34%;
    }
    
    @media (min-width: 768px) {
      .modal-content {
        width: 50%;
        height: 83%;
      }
    }
    






    .submit-button {
      background-color: rgb(255, 0, 0);
      color: white;
      border: none;
      border-radius: 8px;
      padding: 9px 20px;
      width: 100%;
      text-align: center; 
      font-size: 11px;
    }


    .submit-button-container {
      width: 40%;
      float: right;
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
    
    .submit-button:hover {
      background-color: rgba(197, 12, 12, 0.8);
      cursor: pointer;
    }
    
    